<ion-view  title="热门新闻" ng-controller="NewsDetailCtrl" hide-tabs="true" class="news">
 <ion-content class="padding-content">
 <h3 >{{hotNews.content}}</h3>
 <span class="gray mar-b-20">{{newsDetail.time}}</span>
 <section ng-repeat='item in newsDetail.sections'>
 	<img ng-src="{{item.img}}" alt="">
 	<p>{{item.text}}</p>
 </section>
 <div>
 						
 </div>
 <div class="relation">
 	<span class="wz-title">相关文章</span>
 	<ul> 
 	<li ng-repeat="item in newsDetail.relation">
 	<p><i class="c-icon"></i>{{item.title}}</p>
 	<span class="tab">{{item.time}}&nbsp;{{item.tab}}</span>
 	</li>	
 	</ul>					
 </div>
 <div class="comment">
 <p class="tab2"><span>评论</span></p>	
 <textarea id="fb" placeholder="请输入评论" class="mycomment" set-Focus ng-blur="setBlur()"></textarea>
 <button type="" class="fb">发布评论</button>							
 </div>			
 <ul>
 		<li>xxxxx评论</li>
 	</ul>

 </ion-content>
  <div class="bar bar-footer ">
  <div class="title"><button class="button button-icon ion-chatbox-working" ng-click="getFocus()"></button>2&nbsp;&nbsp;<button class="button button-icon ion-happy" ng-click="setBlur()"></button>赞2	</div>
    </div>
</ion-view>