<ion-view view-title="注册" ng-controller="LoginCtrl" class="add-question loginc">
 <ion-nav-buttons side="left">
     <button class="button button-icon ion-arrow-left-c" ng-controller="NavBarCtrl2" ng-click="goBack()">
        </button>
    </ion-nav-buttons>
 <ion-content class="" >
 <div class="box login">	
    <div style="text-align:center;">
    <p style="color:#fff;">欢迎使用THS</p>
    <img src="img/login-bg.png"/>	
    </div>
    
    <div class="content has-header">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">用户名：</span>
          <input type="text" ng-model="$parent.userName">
        </label>
        <label class="item item-input">
          <span class="input-label">密码：</span>
          <input type="password" ng-model="$parent.password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-balanced" ng-click="register()">注册</button>
        <a class="" ui-sref="login">已有账号登录</a>
      </div>
    </div>
    </div>
 </ion-content>
</ion-view>